<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewer</title>
    <script>
        let log;
        window.addEventListener("load", () => {
            log = document.querySelector("#log");
            setInterval(async () => {
                log.innerText += await fetch("/").then(e => e.text()) + "\n";
            }, 1000);
        });
    </script>
</head>

<body>
    <!-- <img src="/video"> -->
    <pre id="log"></pre> 
</body>

</html>